# Firebase Configuration
# Add these variables to your .env file or .env.local file

VITE_FIREBASE_API_KEY=AIzaSyAostvdG27uYLmXP9aeQrzoK1P3VXKD2lQ
VITE_FIREBASE_AUTH_DOMAIN=dsplancar.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=dsplancar
VITE_FIREBASE_STORAGE_BUCKET=dsplancar.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=813245706461
VITE_FIREBASE_APP_ID=1:813245706461:web:dd947e7e3b0a79f46a2b34
