rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Função para verificar se o usuário está autenticado
    function isSignedIn() { 
      return request.auth != null; 
    }

    // Permitir leitura e escrita para usuários autenticados na pasta de documentos
    match /documents/{allPaths=**} {
      allow read, write: if isSignedIn();
    }

    // Permitir leitura e escrita para usuários autenticados em outras pastas
    match /{allPaths=**} {
      allow read, write: if isSignedIn();
    }
  }
}